<div class="line">
    <hr class="blackLine">
</div>

<div id="container">
    <div class="logo">
        <img src="../../../assets/img/logo.png" alt="CINEMAMTSDS">
    </div>
    <div class="information" id="containerVertical">
        <div id="container">
            <span class="material-icons">
                phone
            </span>
            987654321
        </div>
        <div id="container">
            <span class="material-icons">
                mail
            </span>
            marcarcinema@cinemamtsds.com
        </div>
    </div>
</div>

