<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/infinitywar.jpg" alt="Random first slide" id="imgId">
    </div>
    <div class="carousel-caption">
      <h3>Avengers: Infinity war</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/endgame.jpg" alt="Random second slide" id="imgId">
    </div>
    <div class="carousel-caption">
      <h3>Avengers: Endgame</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/thorragnarok.png"  alt="Random third slide" id="imgId">
    </div>
    <div class="carousel-caption">
      <h3>Thor: Ragnarok</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/ironman.jpg" alt="Random fourth slide" id="imgId">
    </div>
    <div class="carousel-caption">
      <h3>Iron Man 1</h3>
    </div>
  </ng-template>
</ngb-carousel>
